.*.swp
*~
*.o
*.a

addcr
argv0
auto-str
auto_home.c
chkshsgr
choose
compile
date@
delcr
finger@
fixcrio
fork.h
hassgact.h
hassgprm.h
hasshsgr.h
haswaitp.h
http@
install
instcheck
iopause.h
load
makelib
mconnect
mconnect-io
rblsmtpd
recordio
rts
select.h
socket.lib
systype
tcpcat
tcpclient
tcprules
tcprulescheck
tcpserver
uint32.h
uint64.h
who@
